body {
  margin: 0px;
}

div.top {
  margin-left: 50px;
  margin-right: 50px;

}

div.maxW {
  max-width: 750px;
  margin: auto;
}

table.navbar{
  position: fixed;
  z-index: 999;
  background-color: #cccccc;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

table.inner{
  padding: 0px;
  margin: 0px;
  align-items: center;
  align-content: center;
  align-self: center;
}

td{
  text-align: center;
  padding: 8px;
  background-color: #cccccc;
}

th{
  background-color: #cccccc;
  padding: 8px;
  align-items: center;
  align-self: center;
}

th.outer{
  /*padding: 0px;*/
  margin: 0px;
  align-items: center;
  align-content: center;
  align-self: center;  
}

th.inner{
  background-color: #aaaaaa;
}

p{
  margin: 0px;
}

h4{
  margin: 0px;
}

p.title1 {
  font-size: 4em;
}

p.subtitle1 {
  font-size: 1.5em;
}