div.main-div {
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: 1000px;
    margin: auto;
}
div.outer-div {
    margin: 20px;
}

div.small-div {
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: 600px;
    margin: auto;
}

a {
    color: #909090;
    text-decoration: underline;
}

.text {
    color: black;
    text-decoration: underline;
}

span.ac {
    font-size: 1.5rem;
    font-weight: 600;
}   

p {
    /* border-top: 0px; */
    margin-bottom: 5px;
}

.right {
    text-align: right;
}

p.des {
    color: #909090;
}

p.cats {
    margin-top: -2rem;
    color: #909090;
    text-align: right;
}

hr.first {
    margin-top: 0px;
}

span.avoidwrap { 
    display:inline-block; 
}