
html, body {
  height: 100%;
}

body {
  margin: 0;
  // display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  /*align-items: center;*/
}

div.inputFields {

}

p {
  text-align: center;
}

input {
  text-align: center;
}

input {
  align-content: center;
  align: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

h3 {
  text-align: center;
}
